@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);


@font-face {
    font-family: 'NanumBarunpen';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#heart-info {
    background-color: #fff5bf;
}

div.heart-page {
    width: 100%;
    margin: 30px auto;
    padding: 30px 0;
    text-align: center;
}

.wrap {
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    background-color: rgba(255, 250, 240, 0.7);
    font-size: 20px;
    font-family: 'NanumBarunpen';
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

td #td1 {
    font-size: 27px;
    font-weight: bold
}

#element {
    font-size: x-large;
}

#content{
    width: 900px;
    height: 700px;
    table-layout: fixed;
    border-radius: 16px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;	
    border-radius: 16px;
}

/* #list{
	width: 200px;
} */

/* .head{
    height: 60px;
} */

.contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
  
div.img {
    width: 900px;
    height: 700px;
	border-radius: 16px;
}

  
.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  
 div.icons a.login-icon, a.join-icon, a.logout-icon{
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  padding: 15px;
  font-family: 'NanumBarunpen';
  font-size: 25px;
}
 
a {
  text-decoration: none;
  list-style: none;
  color: #000; 
}

.cartopen, .cartclose{
	background-color:transparent;
	border: 0;
}