@charset "UTF-8";
input{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFDDBF;
    width: 29%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 30px;
}


input:hover,input :active,input:focus, button:hover,button :active,button:focus {
    background: #FFB472;
  }