@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.nanumpenscript * {
  font-family: 'Nanum Pen Script', cursive; }

@font-face {
  font-family: 'NanumBarunpen';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

* {
  margin: 0;
  padding: 0;
  list-style: none; 
}

#main-screen {
  background:#fff5bf;
}

img {
  border: 0; 
}

a {
  text-decoration: none;
  list-style: none;
  color: #000; 
}

.hidden {
  display: none; 
}

button {
  background: none;
  border: 0;
  font-family: 'NanumBarunpen'; 
}

div.icons a.login-icon, a.join-icon, a.mypage-icon, a.logout-icon{
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  padding: 15px;
  font-family: 'NanumBarunpen';
  font-size: 25px;
}

  #header  {
  position: absolute;
  width: 100%; 
}
  
  .header a {
    display: flex;
    align-content: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box; 
  }


.menu {
  text-align: center;
  position: relative; }
  .menu li {
    display: inline-block;
    padding: 0 32px; 
  }

    .menu li a {
      font-family:'NanumBarunpen', cursive;
      font-size: 30px;
      color: #312828; }
      .menu li a:hover {
        opacity: 0.5; 
      }

  .menu .this {
  background: #fff; 
}

	.menu {
     width: 50%;
     height: 100%;
     margin: 0 auto;
	}
  
  .menu>li {
    float: left;
    width: 40%;
    line-height: 50px;
    text-align: center;
     position: relative;
  	}
  
  .menu>li:hover .sub-menu {
    left: 0;
  }
  
  .menu>li a {
    display: block;
  }
  

  .sub-menu {
    position: absolute;
    top: 50px;
    left: -9999px;
    background: #fff;
    opacity: 0.8;
    width: 80%;
    text-align: center;
    margin-left: 10%;  
  }

  .sub-menu>li {
    position: relative;
  }
  
  #wrap{
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 150px;
}

div>article{
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}


article{
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;  
  border-radius: 10%;
  content-visibility: auto;


}
/* 윗 부분 #wrap ~ article 가령누나 추가 부분 */
  .top {
    cursor: pointer;
    position: fixed;
    right: 3%;
    bottom: 6%; 
    display: none;
    z-index: 3;
  }

  .top:hover {
    opacity: 0.5; 
  }

div.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px auto;
  padding: 10px 0; 
  text-align: center;
}

.visual {
  height: 1000px;
  margin-bottom: 160px; 
}

div.login-sys {
  width: 1280px;
  margin: 30px auto;
  padding: 30px 0; 
  text-align: center;
}  

.login-sys a {
  width: 100%;
  background:#fff5bf;
  align-content: center;
}

  .login-page {
    width: 360px;
    padding: 1% 0 0;
    margin: auto;
  }

  .form {
    width: 360px;
    height: 300px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFDDBF ;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 0 0 15px;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: #FFB472;
  }

  .form .message {
    margin: 15px 0 0;
    color: #312828;
    font-size: 14px;
  }

  .form .message a {
    color: #FF9232;
    text-decoration: none;
    font-weight: 700;
  }

  
  body {
    background: #fff5bf;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  /*# sourceMappingURL=main.css.map */

  div.join-sys {
    width: 1280px;
    margin: 30px auto;
    padding: 30px 0; 
    text-align: center;
  } 

  .join-sys a {
    background-color: #fff5bf;

  }
  .join-page {
    width: 450px;
    padding: 1% 0 0;
    margin: auto;
  }

  .forms {
    width: 450px;
    height: 500px;
    z-index: 2;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .register-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .register-form font#checkPwFont {
  	font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    /* margin: 0 0 5px; */
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .register-form button, input#JoinBtn, input#cancel {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFDDBF ;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 0 0 15px;
  }

  .register-form button:hover,.register-form button:active,.register-form button:focus {
    background: #FFB472;
  }

  .register-form .messages {
    margin: 15px 0 0;
    color: #312828;
    font-size: 14px;
  }

  .register-form .messages a {
    color: #FF9232;
    text-decoration: none;
    font-weight: 700;
  }

  body {
    background: #fff5bf;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
