@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);


@font-face {
  font-family: 'NanumBarunpen';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#de-info {
  background-color: #fff5bf;
}

div.de-page {
  width: 1280px;
  margin: 30px auto;
  padding: 30px 0;
  text-align: center;
}

.wrap {
  width: 100%;
  font-family: 'NanumBarunpen';
}

	.wrap > h1{
	  	padding: 0px 45px 20px;
	  	font-family: 'NanumBarunpen';
	  	font-size: 33px;
	  	display:flex;
	  	flex-direction:column;
	  	align-items:center;
	}

	.wrap > h5{
		font-family: 'NanumBarunpen';
	  	display:flex;
	  	flex-direction:column;
	  	align-items:center;
	} 

#col-de {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 1000px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}

/* ul {
	list-style: none;
} */

th, tr, td {
  background-color: rgba(255, 250, 240, 0.7);
}


#col-de {
  text-align: center;
}

/* input {
  font-family: 'NanumBarunpen';
  background-color: #FFD8B6;
  border: 1.5px solid #fff;
} */

#btn_vote, #btn_enroll, #btn_send {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  background-color: #FFDDBF;
  color: #fff;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

#myparty_btn_vote{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFDDBF;
  width: 60%;
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px 10px 10px;
}

input:hover, input :active, input:focus {
  background: #FFB472;
}

#head{
	font-size: 28px;	
}

td {
  font-size: 20px;
}