.outer-div{
    background-color: blue;
    width: 280px;
    height: 94vh;
    right:2vw;
    top: 1vh;
    text-align: center; 
    vertical-align:middle;
    position: fixed;
}

.title{
    background-color: yellow;
    display:table-cell;
    height: 50px;
    width: 280px;
    vertical-align:middle;
 }

.button{
    display:table-cell;
    background-color: red;
    height: 50px;
    width: 280px;
    vertical-align:middle;
 }
 .inner-div{
     background-color: blueviolet;
     height:calc(100% - 100px );
     width: 280px;
     overflow-y:auto;
 }
