.outer-div{
    background-color: blue;
    width: 280px;
    height: 94vh;
    right:20px;
    top: 1vh;
    text-align: center; 
    vertical-align:middle;
    position: fixed;
    
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.title{
    background-color: yellow;
    display:table-cell;
    height: 50px;
    width: 280px;
    vertical-align:middle;
 }

.button{
    display:table-cell;
    background-color: red;
    height: 50px;
    width: 280px;
    vertical-align:middle;
 }
 .inner-div{
     background-color: blueviolet;
     height:calc(100% - 100px );
     width: 280px;
     overflow-y:auto;
 }
