.wrap{
    
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    
    
}
#th1,#th2{
    border-radius: 16px;
    box-shadow: inset 0 0 8px #ff1493;

}
#content, #list{
    border: 1px solid #ffebb5;
    background-color: #ffebb5;
    box-shadow: inset 0 0 8px #deb13a;
    border-radius: 16px;
}
#button1 , #button2{
    box-shadow: inset 0 0 8px #BC8F8F;
    border-radius: 16px;
    
    
}


